/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Base structure */
html,
body {
  background-color: #333;
}
body {
  color: #fff;
}

/*
 * Header
 */
.masthead {
  padding-top: 20px;
}

.masthead-brand {
  margin-top: -10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

#code {
  background: #eee;
  color: #111;
  border: 1px solid #000;
}

#output  {
  height: 300px;
}

#output iframe {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}
