<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">

    <script src="/jquery-1.9.1.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>

    <div>

    [% INCLUDE navbar.html.tt %]

    <div class="hero-unit">
      <h1>LivePerl: Catch some perl today</h1>
      <p>
        <a href="/tutorial/start" class="btn btn-primary btn-large">
          Start
        </a>
      </p>
    </div>

  </div>
</body>
</html>
