<p>
  &copy; 2014 Brian Medley -
  <a href="https://github.com/brianmed/liveperl.us">Code</a> -
  <a href="https://github.com/brianmed/liveperl.us/issues">Issues</a> -
  <a href="mailto:support@liveperl.us">Contact</a>
</p>
