<!DOCTYPE HTML>
<html>
<head>
  <title>LivePerl - Tutorials</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/cover.css">
  <script src="/js/jquery-1.9.1.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div class="cover-container">
  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">LivePerl</h3>
      <ul class="nav masthead-nav">
        <li>[% h.link_to('Home', '/') %]</li>
        <li class="active">[% h.link_to('Tutorials', '/tutorials') %]</li>
        <li>[% h.link_to('Pearls', 'http://pearls.liveperl.us') %]</li>
        <li>[% h.link_to('About', '/about') %]</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Tutorials</h1>
      <p>
        Choose a tutorial below to test it out directly in your browser.
      </p>
      <h2>Mojolicious</h2>
      <ul>
        <!-- <li><a href="/tutorial/State">state</a></li> -->
        <li><a href="/tutorial/hello">Hello World</a></li>
        <li><a href="/tutorial/stash">Stash and Templates</a></li>
        <li><a href="/tutorial/params">GET/POST Parameters</a></li>
        <li><a href="/tutorial/placeholders">Placeholders</a></li>
        <!-- <li><a href="/tutorial/http">HTTP Methods</a></li> -->
        <li><a href="/tutorial/helpers">Helpers</a></li>
        <li><a href="/tutorial/sessions">Sessions</a></li>
        <li><a href="/tutorial/under">Under</a></li>
        <li><a href="/tutorial/websockets">WebSockets</a></li>
      </ul>
      <h2>Moose</h2>
        <li><a href="/tutorial/mooseclassesobjects">Classes and Objects</a></li>
        <li><a href="/tutorial/moosemethods">Methods</a></li>
        <li><a href="/tutorial/mooseattributes">Attributes</a></li>
        <li><a href="/tutorial/moosepolymorphism">Polymorphism</a></li>
        <li><a href="/tutorial/mooseinheritance">Inheritance</a></li>
    </div>
  </div>
  <div class="row footer">
    <div class="col-md-12">
      [% INCLUDE "footer.html.tt" %]
    </div>
  </div>
</div>
</head>
