<!DOCTYPE HTML>
<html>
<head>
  <title>LivePerl</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/bootstrap/css/cover.css">
  <script src="/jquery-1.9.1.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Liveperl</h3>
          <ul class="nav masthead-nav">
            <li class="active">[% h.link_to('Home', '/') %]</li>
            <li>[% h.link_to('Tutorials', '/tutorials') %]</li>
            <li><a href="mailto:support@liveperl.us">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading">Enjoy your Perl experience.</h1>
        <p class="lead">
          LivePerl allow you to try out [% h.link_to('perl', 'http://perl.org') %]
          directly in your browser.
        </p>
        <p class="lead">
          You can select from a wide variety of [% h.link_to('tutorials', '/tutorials') %],
          or hit "Start" to dive in.
        </p>
        <p class="lead">
          [% h.link_to('Start', '/tutorial/hello', 'class', 'btn btn-lg btn-default') %]
        </p>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
